#root {
  max-width: 100%vw;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  --white: #f7f7f7;
  --green: #988F2A;
  --purple: #6B2737;
}

body {
  background-color: var(--white);
}

.nav-pills .nav-link.active {
  background-color: var(--green);
}

.nav-pills .nav-link {
  color: black;
}

.footer {
  padding-top: 15px;
  background-color: var(--green);
}

h1 {
  padding-top: 30px;
  padding-bottom: 15px;
  color: var(--purple);
  font-size: 50px;
  
}

p {
  font-size: large;
}

.btn {
  background-color: var(--white);
  border-color: var(--purple);
  border-width: 2px;
  color: var(--purple);
  font-weight: 500;
}

.btn:hover {
  background-color: var(--purple);
  border-color: var(--purple);
  color: var(--white);
}

.btn:focus, .btn:active {
  background-color: var(--green);
  border-color: var(--green);
  color: var(--white);
}

h2 {
  color: var(--purple);
}
